<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account.dao.AccountDAO">

	<!-- 고객 보유 주금통 등록 하지않은 통합계좌 조회 -->
	<select id="selectAll" resultType="AccountVO" parameterType="String">
		select bank, account_num, alias, balance
			from h_account where id = #{id} and register='N'
	</select>
	
	<!-- 자동이체 보내기  -->
	<update id="send" parameterType="AccountVO">
		update h_account
			set balance = balance - #{balance}
			where account_num = #{account_num}
	</update>
	
	<!-- 자동이체 빋기 -->
	<update id="receive" parameterType="AccountVO">
		update h_stockaccount
			set balance = balance + #{balance}
			where account_num = #{account_num}
	</update>
	
	<!-- 증권계좌개설 -->
	<insert id="create" parameterType="AccountVO">
		insert into h_stockaccount(account_num, id, password, name, alias)
		 	values(#{account_num}, #{id}, #{password}, #{name}, #{alias})
    </insert>
    
    <!-- 고객 보유 증권계좌 조회 -->
	<select id="selectSAll" resultType="AccountVO" parameterType="String">
		select account_num, name, alias, balance
			from h_stockaccount where id = #{id} and register='N'
	</select>
	
	<!-- 주금통서비스 조회 -->
	<select id="regA" resultType="AccountVO" parameterType="String">
		select bank, account_num, alias, balance
			from h_account where id = #{id} and register='Y'
	</select>
	
</mapper>